@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.link {
  color: $color-default-black;

  svg {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-java;
    }
  }
}
