@font-face {
  font-display: swap;
  font-family: 'Commissioner';
  font-style: normal;
  font-weight: 400;
  src: url('../app/fonts/commissioner-400.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Neutral Face';
  font-style: normal;
  font-weight: 400;
  src: url('../app/fonts/neutral-face-400.woff2') format('woff2');
}
