@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.root {
  font-family: $ff-neutral-face;
  font-weight: 400;
  font-size: 80px;
  line-height: 100%;
  color: $color-default-black;
  text-align: start;

  max-width: 432px;

  margin: 0;
  padding: 0;

  position: absolute;
  top: 102px;
  right: auto;
  left: 60px;

  @include vp-1023 {
    font-size: 40px;
    position: unset;
    margin: 0 0 20px;
    max-width: 344px;
  }

  @include vp-374 {
    font-size: 30px;
    margin: 0 0 40px;
  }
}
