@use '../../styles/variables.scss' as *;

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 50px;
}

.navigation {
  max-width: 500px;
  width: 100%;

  color: $color-default-black;
}

.marker {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  column-gap: 5px;

  span {
    color: $color-default-black;
  }
}
