@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.link {
  color: $color-default-black;

  svg {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-java;
    }
  }
}

.customLink {
  color: $color-java;

  svg {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-default-black;
    }
  }
}
