@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  @include vp-1023 {
    gap: 2px;
    max-height: 41px;
  }
}

.item {
  @include vp-1023 {
    max-height: 41px;
  }
}

.link {
  display: inline-block;
  color: $color-default-black;
  width: 52px;
  height: 52px;

  @include vp-1023 {
    width: 40px;
    height: 41px;
  }

  svg {
    width: 100%;
    height: 100%;
    transition: color $trans-default;

    @include hover-focus {
      color: $color-java;
    }
  }
}

.customLink {
  color: $color-java;

  svg {
    transition: color $trans-default;

    @include hover-focus {
      color: $color-default-black;
    }
  }
}
